* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  color: #faebd7;
  font-family: 'Times New Roman', Times, serif;
}


html, body { scrollbar-width: none; }

html::-webkit-scrollbar, body::-webkit-scrollbar { display: none; }

.textAlignCenter { text-align: center; }

.mb-1 { margin-bottom: 1em; }